<h2>Create Grade</h2>

<form method="post" class="form-control" >
    <input type="text" class="form-control form-control-lg" name="GradeName" id="GradeName" 
    placeholder="Input Grade Name">
    <button type="submit" class="btn btn-primary">Create</button>
</form>